<footer style="text-align: center">
  <p>
    Website created by
    <a
      style="color: inherit; text-decoration: underline"
      href="https://tomblake.me"
      >Tom Blake</a
    >
  </p>
</footer>
