<nav>
  <div class="NavList">
    <ul>
      <li class="NavItem">
        <a href="/" class="NavLink">Home</a>
      </li>
      <li class="NavItem">
        <a href="/HowToHelp" class="NavLink">How to help</a>
      </li>
      <li class="NavItem">
        <a href="/Statistics" class="NavLink">Statistics</a>
      </li>
    </ul>
  </div>
  <h3><a href="/" id="Logo">Child Poverty Prevention</a></h3>
</nav>
