<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Child Poverty Action</title>
    <link rel="stylesheet" href="css.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <%- include('Partials/nav.ejs') %>
      <center>
        <h1>How to help</h1>
        <p>
          Learn how to make a meaningful contribution to the fight on child
          poverty
        </p>
      </center>
    </header>
    <div id="Container">
      <div class="content" id="Howtohelp">
        <h3>What can you do to help?</h3>
        <ol>
          <li>
            <h4>Spread Awareness</h4>
            <p>
              There are many things that you can do to tackle child poverty in
              the UK. One of the things you can do is raising awareness about
              the issue. You can do this by sharing this website to help bring
              awareness of this issue.
            </p>
          </li>
          <li>
            <h4>Support government programs tackling poverty</h4>
            <p>
              You can also support policies that address child poverty, such as
              increasing the minimum wage, providing financial assistance to
              low-income families.
            </p>
          </li>
          <li>
            <h4>Donate to charties/foodbanks</h4>
            <p>
              Dontaing to charties and food banks is an effective way to tackle
              child poverty in the UK. These organisations provide vital support
              to struggling families.
            </p>
            <ul>
              <li>
                <h5>Food Banks</h5>
                <p style="padding-left: 1vw">
                  Food banks are a great way to help families in need. Food is a
                  basic necessity for all of us. However, it can be difficult
                  for families to get. By donating some food to a food bank it
                  allows the foodbank to help any families that are in need of
                  assistance.
                </p>
              </li>
              <li>
                <h5>Charities</h5>
                <p style="padding-left: 1vw">
                  Charities that are set up to combat child poverty provide a
                  range of assistance to families and children in poverty. By
                  donating just a little bit of money to this charity you can
                  have a large impact.
                </p>
              </li>
            </ul>
          </li>
          <li>
            <h4>Volunteer Your time</h4>
            <p>
              If you don't want to donate your money or food then you could
              donate your time to fighting this issue. You can directly make a
              positive impact on child poverty and improve the lives of those
              less fortunate than yourself. Volunteering can be a way to educate
              yourself about the issue as well.
            </p>
            <p>Some ways of donating your time are:</p>
            <ul>
              <li>
                <p>
                  Helping to organise of participate in events that raise
                  awareness to the issue of chid poverty
                </p>
              </li>
              <li>
                <p>
                  Volunteering at a food bank to sort and organsie the food
                  ready to be given out
                </p>
              </li>
              <li>
                <p>
                  Participate in a fundraiser to raise money to donate to a
                  charity that fights child poverty
                </p>
              </li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
    <%- include('Partials/footer.ejs') %>
  </body>
</html>
