<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Child Poverty Action</title>
    <link rel="stylesheet" href="css.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <%- include('Partials/nav.ejs') %>
      <center>
        <h1>Child Poverty In The Uk</h1>
        <p>No child deserves to be in poverty</p>
      </center>
    </header>
    <div id="Container">
      <div class="content">
        <h3>Overview</h3>
        <p style="padding-left: 1vw">
          Child poverty in the United Kingdom is an issue that affects a
          significant portion of children. There are about 3.9 million children
          are living in poverty in the country. The consequences of this
          situation can have a detrimental effect on the health, education, and
          overall well-being of affected individuals. Some causes of child
          poverty in the UK include low income, unemployment, and a lack of
          affordable housing. Despite efforts from the government to address
          this issue through various policies such as increasing the minimum
          wage poverty rates remain high and continue to be a concern. It can
          lead people to wonder is enough being done to tackle this issue?
        </p>
      </div>
      <hr />
      <div class="content" id="Howtohelp">
        <h3>What can you do to help?</h3>
        <ol>
          <li>
            <h4>Spread Awareness</h4>
            <p>
              There are many things that you can do to tackle child poverty in
              the UK. One of the things you can do is raising awareness about
              the issue. You can do this by sharing this website to help bring
              awareness of this issue.
            </p>
          </li>
          <li>
            <a
              style="text-decoration: underline; color: inherit"
              href="/HowToHelp.html"
              >Find out more</a
            >
          </li>
        </ol>
      </div>
      <hr />
      <div class="content" id="Charities">
        <h3>Charities</h3>
        <p>
          There are many chariteis set up to tackle this issue. Some are listed
          here:
        </p>
        <ul>
          <li>
            <h4>Child Poverty Action Group</h4>
            <p>
              The Child Poverty Action Group is a charity that aims to end child
              poverty in the UK. They provide a range of services to help
              children and families in need. They also provide information and
              advice to help people understand the issue and how they can help.
              For every pound donated they sped 92p on chartiable activities.
            </p>
            <a href="https://cpag.org.uk/">Visit their website</a>
          </li>
          <li>
            <h4>Save the Children</h4>
            <p>
              Save the Children is a charity that aims to help children in need
              around the world. They provide a range of services to help
              children and families in need. They also provide information and
              advice to help people understand the issue and how they can help.
            </p>
            <a href="https://www.savethechildren.org.uk/"
              >Visit their website</a
            >
          </li>
          <li>
            <h4>Food Banks</h4>
            <p>
              Food banks are a great way to help families in need. Food is a
              basic necessity for all of us. However, it can be difficult for
              families to get. By donating some food to a food bank it allows
              the foodbank to help any families that are in need of assistance.
            </p>
            <a href="https://cardiff.foodbank.org.uk/">Foodbank Cardiff</a>
          </li>
        </ul>
      </div>
    </div>
    <%- include('Partials/footer.ejs') %>
  </body>
</html>
